body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background: radial-gradient(circle at 48.7% 44.3%, rgb(30, 144, 231) 0%, rgb(56, 113, 209) 22.9%, rgb(38, 76, 140) 76.7%, rgb(31, 63, 116) 100.2%);
    color: white;
}

#board {
    height: 540px;
    width: 630px;
    background: radial-gradient(circle at 48.7% 44.3%, rgb(30, 144, 231) 0%, rgb(56, 113, 209) 22.9%, rgb(38, 76, 140) 76.7%, rgb(31, 63, 116) 100.2%);
    border: 10px solid navy;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    border-radius: 4px;
}

.title {
    height: 70px;
    width: 70px;
    margin: 5px;
    background-color: white;
    border-radius: 50%;
    border: 5px solid navy;
}

.red-piece {
    background-color: red;
}

.yellow-piece {
    background-color: yellow;
}

.container {
    display: flex;
    justify-content: space-between;
}

.player-one {
    height: 170px;
    width: 150px;
    background: radial-gradient(circle at 48.7% 44.3%, rgb(30, 144, 231) 0%, rgb(56, 113, 209) 22.9%, rgb(38, 76, 140) 76.7%, rgb(31, 63, 116) 100.2%);
    border: 3px solid navy;
    margin-left: 200px;
    margin-top: 350px;
    position: relative;
    border-radius: 4px;
}

.player-two {
    height: 170px;
    width: 150px;
    background: radial-gradient(circle at 48.7% 44.3%, rgb(30, 144, 231) 0%, rgb(56, 113, 209) 22.9%, rgb(38, 76, 140) 76.7%, rgb(31, 63, 116) 100.2%);
    border: 3px solid navy;
    margin-right: 200px;
    margin-top: 350px;
    position: relative;
    border-radius: 4px;
}

.red-ball {
    background: red;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    position: absolute;
    margin-left: 55px;
}

.yellow-ball {
    background: yellow;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    position: absolute;
    margin-left: 55px;
}

.button-container {
    display: flex;
    justify-content: center;
}

button {
    color: white;
    background: radial-gradient(circle at 48.7% 44.3%, rgb(30, 144, 231) 0%, rgb(56, 113, 209) 22.9%, rgb(38, 76, 140) 76.7%, rgb(31, 63, 116) 100.2%);
    border: 3px solid navy;
    padding: 10px 20px;
    font-size: 16px;
    width: 120px;
    margin-bottom: 10px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 4px;
}

h4 {
    margin-top: 80px;
}

@media (max-width: 1430px) {
    #board {
        height: 300px;
        width: 320px;
        border: 5px solid navy;
    }

    .title {
        height: 30px;
        width: 30px;
        border: 3px solid navy;
    }

    .player-one, .player-two {
        height: 150px;
        width: 130px;
        margin: 10px;
    }

    .red-ball, .yellow-ball {
        height: 30px;
        width: 30px;
        margin-left: 51px;
    }

    h4 {
        margin-top: 70px;
    }
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    #board {
        height: 300px;
        width: 320px;
        text-align: center;
        align-items: center;
    }

    .title {
        height: 30px;
        width: 30px;
    }

    .player-one, .player-two {
        height: 100px;
        width: 90px;
        
    }

    .red-ball, .yellow-ball {
        height: 20px;
        width: 20px;
    }

    h3 {
        font-size: 13px;
    }

    h4 {
        font-size: 15px;
        margin-top: 45px;
    }

    .red-ball {
        margin-left: 36px;
        position: absolute;
    }
    
    .yellow-ball {
        margin-left: 36px;
        position: absolute;
    }
}